html {
    font-size: 62.5%;
}

.grid {
    display: grid;
    /* grid-template-columns: 100px 1fr 1fr 100px; */
    /* grid-template-rows: 100px 1fr 1fr 100px; */
    grid-template: 100px 1fr / 200px 1fr;
    padding: 1rem;
    height: 500px;
}

.item {
    border: 1px solid #000;
    padding: 1rem;
}