html {
    font-size: 62.5%;
}

body {
    min-height: 100vh;
    display: grid;
    grid-template:
        "header header" auto
        "sidebar main" 1fr
        "footer footer" auto
        /240px 1fr
    ;
}

header {
    grid-area: header;
    height: 80px;
    border-bottom: 1px solid #000;
}

aside {
    grid-area: sidebar;
    background: #ccc;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
    background-color: #eee;
    height: 200px;
}